[user]
	email = minhquach8@gmail.com
	name = minhquach8

[init]
    defaultBranch = main

[pull]
    rebase = false

[push]
    autoSetupRemote = true

[core]
    editor = nvim
    autocrlf = input

[merge]
    conflictstyle = zdiff3

[diff]
    colorMoved = default

[fetch]
    prune = true

[rerere]
    enabled = true

[alias]
    st = status
    br = branch
    co = checkout
    cm = commit -m
    lg = log --oneline --graph --decorate --all
    last = log -1 HEAD
